:root{
  --color-azul:rgb(62, 125, 163);
	--color-gris-claro:rgb(151, 168, 169);
	--color-gris-obscuro:rgb(52, 73, 94);
	--color-amarillo:rgb(252, 184, 34);
}

body{
  margin:0;
  padding:0; 
  box-sizing:border-box;
  font-family: 'Hind Siliguri', sans-serif;

}
.cabecera{
  display:flex;
  height:12vh;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  gap:3em;
  background:orange;
}
.cabecera img{
  width:4.3em;
  padding-left:2%;
}
.cabecera h1{
  text-align:center;
  color:var(--color-azul);
  font-size:2em;
  flex-grow:3;
}
nav{
  background:var(--color-azul);
	width:100vw;
  height:10vh;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-items:center;
}

nav a{
  color:#fff;
  font-size:1.2em;
  text-decoration:none;
  background:none;
  padding:6px 15px;
  border-radius:10px;
  
}
nav a:hover{
  color:white;
  background:white;
  color:var(--color-gris-claro);
}

main{
  background:silver;
  height:68vh;
}
footer{
  background:var(--color-gris-obscuro);
  height:10vh;  
}
