article{
 text-align: center; 
 margin-left: 25%;
 position:absolute;
 width:75%;
 background-color: blue; 
 height: 95%;
}
.li{
    text-decoration: none;
}
aside{
    margin-top: 5%;
    position:relative;
    width: 25%;
    background-color: aquamarine;
    height: 200%;
    text-align: left;
}