header{
    position:relative;
    text-align: left;
    margin-top: 5%;
    margin-left: 2%;
    background-color: gray;
    margin-right: 60%;
}
.contacto{
    position:relative;
    text-align: left;
    margin-left: 2%;
    margin-top: 5%;
}
.perfil, p{
    position:relative;
    text-align: left;
    margin-left: 2%;
    margin-top: 5%;
    margin-right: 60%; 
}
