/*header>h1{
    position:absolute;
    text-align: left;
    margin-top: 5%;
    margin-left: 2%;
    background-color: rgb(184, 219, 150);
    margin-right: 60%;
    margin-bottom: 0%;
}
header>h2{
    position:absolute;
    text-align: left;
    margin-top: 5%;
    margin-left: 2%;
    background-color: rgb(184, 219, 150);
    margin-right: 60%;
    margin-bottom: 0%;
}*/
header{
    position:relative;
    text-align:justify;
    line-height: 2;
    margin-left: 2%;
    background-color:dimgrey ;
    margin-right: 75%;
    margin-bottom: 0%;
    margin-top: -0%;
    font-size:medium;
    color:aliceblue;
    
}
aside{
    position:relative;
    text-align:justify;
    margin-left: 2%;
    margin-right: 75%;
    margin-bottom: 0%;
    margin-top: -10%;
    background-color:dimgray;
    display: inline-block;


}
main{
    text-align:justify;
    margin-right:0%;
    margin-left: 25%;
    margin-bottom: 0%;
    margin-top: -10%;
    background-color:antiquewhite;
}