h1{
    padding-top: 1%; /**/
    padding-bottom: 1%;
    border-color: aquamarine; /**/
}
header{

    position:relative;
    text-align:center;
    margin-left: 2%;
    background-color:black;
    margin-right: 70%;
    margin-bottom: 0%;
    font-size:medium;
    color:aliceblue;
    display: block;   
}

.centrar{
    text-align: center;
}
aside{
    position:relative;
    text-align:left;
    margin-left: 2%;
    margin-right: 70%;
    margin-bottom: 0%;
    margin-top: -0%;
    background-color:black;
    color:aliceblue;
    display: inline-block;
    padding-left: 3%; /*5%*/
    padding-right: 3%; /*5%*/


}
main{
    text-align:justify;
    margin-right:0%;
    margin-left: 30%;
    margin-bottom: 0%;
    margin-top: -112%; /*115 se pasa*/
    background-color:chartreuse;
    display: inline-block;
    padding-left: 2%; /*5%*/
    padding-right: 2%; /*5%*/
}