

header{
    position:relative;
    text-align:left;
    margin-left: 2%;
    background-color:dimgrey ;
    margin-right: 75%;
    margin-bottom: 0%;
    font-size:medium;
    color:aliceblue;
    display: block;
    
}
aside{
    position:relative;
    text-align:left;
    margin-left: 2%;
    margin-right: 75%;
    margin-bottom: 0%;
    margin-top: -10%;
    background-color:dimgray;
    color:aliceblue;
    display: inline-block;


}
main{
    text-align:justify;
    margin-right:0%;
    margin-left: 25%;
    margin-bottom: 0%;
    margin-top: -10%;
    background-color:antiquewhite;
    display: inline-block;
}